<div class="text-center border-bottom border-top py-5 bg-white">
  <h2>Toutes mes créations</h2>
</div>
<div class="container">
  <div class="props-list">
      <div class="row">
        <% @pieces.each do |piece| %>
          <div class="col-12">
            <div class="user-box my-4">
              <%# <%= cl_image_tag prop.photo.key, height: 300, width: 400, crop: :fill %>
              <!-- a remplacer avec une image 3D -->
                <div class="user-card-info">
                  <h2>Nom: <%= piece.name %></h2>
                  <div class="user-card-details">
                    <h3>Type de meuble: <%= piece.category.title %></h3>
                    <% piece.parts.each do |part|%>
                      <p>pièces: <%= part.position %>
                      couleurs: <%= part.color %>
                      longueur: <%= part.length %> cm
                      largeur: <%= part.width %> cm
                      hauteur/épaisseur: <%= part.height%> cm
                      matériau: <%= part.material%>
                      forme: <%= part.shape%></p>
                      <% end %>
                    <%= link_to "Supprimer", piece_path(piece), method: :delete, data: { confirm: "Souhaitez-vous vraiment supprimer ce meuble ?" }, :class => "btn btn-outline-danger btn-sm" %>
                    <%= link_to "Modifier", edit_piece_path(piece), :class => "btn btn-outline-secondary btn-sm" %>
                  </div>
                </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
