<div class="text-center border-bottom border-top py-5 bg-white">
  <h2>Toutes mes créations</h2>
</div>

<div class="container d-flex flex-column align-items-center">
  <% @pieces.each do |piece| %>
    <div class="card-product mt-3">
      <% if piece.photo.attached? %>
        <%= cl_image_tag piece.photo.key, :width=>500, :height=>350, :crop=>"fill", class: "card-img-top zoom"%>
      <% else %>
        <%= cl_image_tag "m4tbkk", :width=>500, :height=>350, :crop=>"fill", class: "card-img-top zoom"%>
      <% end %>
      <div class="card-product-infos">
        <h2><%= piece.name %></h2>
        <p><strong><%= piece.category.title.capitalize %></strong> - Créée le <%= piece.created_at.day %>/<%= piece.created_at.month %>/<%= piece.created_at.year %></p>
      </div>
      <%= link_to "Détails", piece_path(piece), class:"btn-details mr-2"%>
      <% if piece.orders.empty? %>
        <%= link_to piece_path(piece), method: :delete, data: { confirm: "Êtes-vous sûr de supprimer votre création ?" } do %>
          <i class="fas fa-trash"></i>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
