<div id="shape-top" data-shape-top-params="<%= {shapeTop: selectedOptions[0].innerHTML}.to_json %>"></div>

<div id="color-top" data-color-top-params="<%= {colorTop: selectedOptions[0].innerHTML}.to_json %>"></div>

<div id="material-top" data-shape-top-params="<%= {materialTop: selectedOptions[0].innerHTML}.to_json %>"></div>

<div id="height-top" data-shape-top-params="<%= {heightTop: selectedOptions[0].innerHTML}.to_json %>"></div>

<div id="width-top" data-shape-top-params="<%= {widthTop: selectedOptions[0].innerHTML}.to_json %>"></div>

<div id="length-top" data-shape-top-params="<%= {lengthTop: selectedOptions[0].innerHTML}.to_json %>"></div>


<div id="shape-bottom" data-shape-bottom-params="<%= {shapeBottom: selectedOptions[0].innerHTML}.to_json %>"></div>

<div id="color-bottom" data-color-bottom-params="<%= {colorBottom: selectedOptions[0].innerHTML}.to_json %>"></div>

<div id="material-bottom" data-material-bottom-params="<%= {materialBottom: selectedOptions[0].innerHTML}.to_json %>"></div>

<div id="height-bottom" data-height-bottom-params="<%= {heightBottom: selectedOptions[0].innerHTML}.to_json %>"></div>

<div id="width-bottom" data-width-bottom-params="<%= {widthBottom: selectedOptions[0].innerHTML}.to_json %>"></div>

<div id="length-bottom" data-length-bottom-params="<%= {lengthBottom: selectedOptions[0].innerHTML}.to_json %>"></div>
