<h1>Piece edit</h1>
<h2>Bienvenue dans votre espace de creation</h2>

<h3>some 3D oh yeah oh yeah</h3>


<div class="model">3D ici</div>

<% if !@copy_piece.nil? %>
  <%= @copy_piece.parts %>
<% end %>


<%= simple_form_for @part_top, url: part_path(@part_top), method: :patch do |f| %>
  <%= f.input :shape, collection: Part.shapes.keys %>
  <%= f.input :color, collection: Part.colors.keys %>
  <%= f.input :height %>
  <%= f.input :width %>
  <%= f.input :length %>
  <%= f.input :material, collection: Part.materials.keys %>
  <%= f.submit "valider mon objet", class: 'btn btn-flat'%>
  <%= f.submit "enregistrer mon objet", class: 'btn btn-flat'%>
<% end %>
