<div class="text-center border-bottom border-top py-5 bg-white">
  <h2>Mon espace de création</h2>
</div>

<div class="container">

  <% if !@copy_piece.nil? %>
    <% @copy_piece.parts %>
  <% end %>

  <div class="row">
    <div class="col-6">
      <div class="model">
      </div>
    </div>

    <div class="col-6 pt-4">

      <h4>Plateau</h4>
      <div class="form-edit mt-3 mb-3">
        <%= simple_form_for @part_top, url: part_path(@part_top), method: :patch do |f| %>

          <div class="d-flex align-items-center w-100 input-form-edit">

            <div class="pr-5">Forme</div>
            <div class="w-100">
              <%= f.input :shape, collection: Part.shapes.keys, input_html: {class: "shape-top"}, label: false %>
            </div>
          </div>

          <div class="d-flex align-items-center w-100 input-form-edit">
          <div class="pr-5">Matière</div>
            <div class="w-100">
              <%= f.input :material, collection: Part.materials.keys, input_html: {class: "material-top"}, label: false %>
            </div>
          </div>

          <div class="d-flex align-items-center w-100 input-form-edit">
            <div class="pr-5">Couleur</div>
              <div class="w-100">
                <%= f.input :color, collection: Part.colors.keys, input_html: {class: "color-top"}, label: false %>
              </div>
            </div>

          <div class="d-flex align-items-center w-100 input-form-edit">
              <div class="w-20 pr-3 py-2">
                <div class="mb-2">Hauteur</div>
                  <%= f.input :height, input_html: {class: "height-top"}, label: false %>
              </div>
              <div class="w-20 pr-3 py-2">
                <div class="mb-2">Largeur</div>
                  <%= f.input :width, input_html: {class: "width-top"}, label: false %>
              </div>
              <div class="w-20 py-2">
                <div class="mb-2">Longueur</div>
                  <%= f.input :length, input_html: {class: "length-top"},label: false %>
              </div>
          </div>
          <%= f.submit "continuer", class: 'btn btn-flat' %>
        <% end %>
        </div>


          <h4>Pieds de table</h4>
            <div class="form-edit my-3">

              <%= simple_form_for @part_bottom, url: part_path(@part_bottom), method: :patch do |f| %>

                <div class="d-flex align-items-center w-100 input-form-edit">
                  <div class="pr-5">Forme</div>
                    <div class="w-100">
                      <%= f.input :shape, collection: Part.shapes.keys, input_html: {class: "shape-bottom"}, label: false %>
                    </div>
                  </div>
                <div class="d-flex align-items-center w-100 input-form-edit">
                  <div class="pr-5">Matière</div>
                    <div class="w-100">
                      <%= f.input :material, collection: Part.materials.keys, input_html: {class: "material-bottom"}, label: false %>
                    </div>
                </div>

                <div class="d-flex align-items-center w-100 input-form-edit">
                  <div class="pr-5">Couleur</div>
                    <div class="w-100">
                      <%= f.input :color, collection: Part.colors.keys, input_html: {class: "color-bottom"}, label: false %>
                    </div>
                  </div>

                <div class="d-flex align-items-center w-100 input-form-edit">
                    <div class="w-20 pr-3">
                      <div class="mb-2">Hauteur</div>
                        <%= f.input :height, input_html: {class: "height-bottom"}, label: false %>
                    </div>
                    <div class="w-20 pr-3">
                      <div class="mb-2">Largeur</div>
                        <%= f.input :width, input_html: {class: "width-bottom"}, label: false %>
                      </div>
                    <div class="w-20">
                      <div class="mb-2">Longueur</div>
                        <%= f.input :length, input_html: {class: "length-bottom"},label: false %>
                      </div>
                    </div>
                      <%= f.submit "continuer", class: 'btn btn-flat'%>
                      <% end %>
                  </div>

          <h4> Nom de l'objet</h4>
            <div class="form-name mt-3">
              <%= simple_form_for @piece do |f| %>
                <div class="name">
                  <%= f.input :name, label: false %>
                </div>
                <div class="d-flex justify-content-between validation">
                  <%= f.submit "valider", class: "btn-flat btn-info" %>
                  <%= f.submit "enregistrer", class: 'btn btn-primary'%>
                </div>
              <% end %>
            </div>
      </div>
  </div>
</div>
