<h1>Piece edit</h1>
<h2>Bienvenue dans votre espace de creation</h2>

<h3>some 3D oh yeah oh yeah</h3>


<div class="model">3D ici</div>

<% if !@copy_piece.nil? %>
  <%= @copy_piece.parts %>
<% end %>

<h4>Caractéristiques du plateau</h4>
<%= simple_form_for @part_top, url: part_path(@part_top), method: :patch do |f| %>
  <%= f.input :shape, collection: Part.shapes.keys, input_html: {class: "shape-top"} %>
  <%= f.input :color, collection: Part.colors.keys, input_html: {class: "color-top"} %>
  <%= f.input :height, input_html: {class: "height-top"} %>
  <%= f.input :width, input_html: {class: "width-top"} %>
  <%= f.input :length, input_html: {class: "length-top"} %>
  <%= f.input :material, collection: Part.materials.keys, input_html: {class: "material-top"} %>
  <%= f.submit "enregistrer mon objet", input_html: {class: 'btn btn-flat'}%>
<% end %>

<h4>Caractéristiques des pieds</h4>
<%= simple_form_for @part_bottom, url: part_path(@part_bottom), method: :patch do |f| %>
  <%= f.input :shape, collection: Part.shapes.keys, input_html: {class: "shape-bottom"} %>
  <%= f.input :color, collection: Part.colors.keys, input_html: {class: "color-bottom"} %>
  <%= f.input :height, input_html: {class: "height-bottom"} %>
  <%= f.input :width, input_html: {class: "width-bottom"} %>
  <%= f.input :length, input_html: {class: "length-bottom"} %>
  <%= f.input :material, collection: Part.materials.keys, input_html: {class: "material-bottom"} %>
  <%= f.submit "enregistrer mon objet", input_html: {class: 'btn btn-flat'}%>
<% end %>

<%#= link_to "Valider mon objet", piece_path(@piece), :class => "btn btn-flat"  %>

<%= simple_form_for @piece do |f| %>
  <%= f.button :submit, class: "btn btn-flat" %>
<% end %>
