
<div class="banner">
  <div class="header-container">
    <h1>WOODSTOCK</h1>
    <p>Créez le meuble de vos envies</p>
    <%= link_to "Je me lance", "#", :class => "btn btn-flat btn-info ml-10 sweet-alert" %>
  </div>
</div>

<div class="container mt-4 py-4">
  <div class="row">
    <div class="col-3 d-flex align-items-stretch">
      <div class="card rounded-0" style="width: 18rem;">
        <div class="card-img-top text-center pt-4">
          <%=image_tag("blueprint.svg")%>
        </div>
          <div class="card-body">
            <p class="card-text text-center">Imaginez votre meuble</p>
          </div>
      </div>
    </div>

    <div class="col-3 d-flex align-items-stretch">
      <div class="card rounded-0" style="width: 18rem;">
        <div class="card-img-top text-center pt-4">
          <%=image_tag("geometry.svg")%>
        </div>
          <div class="card-body">
            <p class="card-text text-center">Modélisez-le facilement</p>
          </div>
      </div>
    </div>

    <div class="col-3 d-flex align-items-stretch">
      <div class="card rounded-0" style="width: 18rem;">
        <div class="card-img-top text-center pt-4">
          <%=image_tag("settings.svg")%>
        </div>
          <div class="card-body">
            <p class="card-text text-center">Un artisan produit votre création</p>
          </div>
      </div>
    </div>

    <div class="col-3 d-flex align-items-stretch">
      <div class="card rounded-0" style="width: 18rem;">
        <div class="card-img-top text-center pt-4">
          <%=image_tag("armchair.svg")%>
        </div>
          <div class="card-body">
            <p class="card-text text-center">Livré directement chez vous</p>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="container py-4">
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://static.turbosquid.com/Preview/2019/03/19__04_10_54/industrial_table_00.jpg5B321C05-F279-48C2-AFEE-5F9E0EE4BB76Zoom.jpg)">
      <%= link_to "Tables", pieces_path(@tables), class: "btn btn-ghost" %>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://media.madeindesign.com/nuxeo/products/c/a/bibliotheque-mikado-large-rouge_madeindesign_74145_original.jpg)">
      <%= link_to "Etagères", "#", class: "btn btn-ghost" %>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://cdn.conforama.fr/prod/product/image/38d2/G_CNF_I52807871_B.jpeg)">
      <%= link_to "Commodes", "#", class: "btn btn-ghost" %>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://www.made-in-meubles.com/media/catalog/product/optimized/2/e/2ea75696a4d7e9b6182055f87ecaaffc/bt0200a-meubletv-dessus.jpg)">
      <%= link_to "Meubles TV", "#", class: "btn btn-ghost" %>
    </div>
  </div>
</div>

